aiogram==2.19
aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.4.1
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.9.1
certifi==2022.6.15
charset-normalizer==2.1.0
colorama==0.4.5
distlib==0.3.4
Django==3.2.13
filelock==3.4.1
frozenlist==1.2.0
idna==3.3
iniconfig==1.1.1
multidict==6.0.2
packaging==21.3
pipenv==2022.6.7
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
tzdata==2022.1
virtualenv==20.14.1
virtualenv-clone==0.5.7
yarl==1.7.2
