{% extends 'base_app/main.html' %}

{% block title%}
Detail Good!
{% endblock title %}

{% block body %}

  <div class="jumbotron">
    <h1 class="display-12"></h1>
    <p class="lead">{{ object.caption }}</p>
    <img class="img-fluid" src={% if good.picture %}"{{good.picture.url}}"{% else %}""{% endif %} alt="{{ object.name }}" />
    <hr class="my-12">
    <p>{{ object.cost }}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Купить</a>
    </p>
  </div>

{% endblock body %}
